.container {
    width: 100%;
}

.input {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

    max-height: 48px;
    background: #f9fafb;
    border-radius: 5px;
    color: var(--gray-900);
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #f9fafb;
}
input::placeholder {
    color: var(--gray-300);
}
input {
    width: 100%;
}
input:focus {
    outline: 2px solid var(--primary-color);
    border-radius: 5px;
}
.input.wrong {
    border: 1px solid var(--feedBackRed);
}
.feedBackText {
    min-height: 20px;
    font-size: 12px;
    margin-top: 5px;
    visibility: visible;
    font-size: 0.75rem;
    font-weight: 500;
}
.feedBackText.wrong {
    color: var(--feedBackRed);
}
.feedBackText.hidden {
    visibility: hidden;
}
.feedBackText.success {
    color: #22c55e;
}
