.container {
    background-color: var(--primary-color);
    padding: 16px 24px;
    display: flex;
    width: 568px;
    height: 72px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.checkbox {
    appearance: none;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: var(--primary-color);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    flex-shrink: 0;
    margin: 0;
}

.checkbox:checked {
    background-color: #9ca3af;
    border: 2px solid white;
}

.checkbox:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.iconButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
.completed {
    background-color: #9ca3af;
}
