.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 48px;
    background: var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    white-space: nowrap;
}
.container.disabled {
    background: var(--disabled);
    cursor: not-allowed;
}
button:disabled {
    pointer-events: none;
}
