.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.modal {
    min-width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    z-index: 3;
    background: white;
    padding: 24px;
    border-radius: 16px;
}
.modal span {
    font-weight: 500;
}
.hidden {
    display: none;
}
