.container {
    display: flex;
    gap: 56px;
    background-color: white;
    margin: auto;
    width: 1200px;
    height: 708px;
    padding: 36px;
    border-radius: 8px;
    color: #4b5563;
    position: relative;
}
.userData {
    flex: 7;
}
.profileBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.spanWrapper {
    display: flex;
    flex-direction: column;
}
.spanWrapper :nth-child(1) {
    color: #969da8;
    font-size: 14px;
    font-weight: 600;
}
.spanWrapper :nth-child(2) {
    font-weight: 600;
}

.userDataHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}
.nickname {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #023e99;
}
.purpose {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #023e99;
}
.bedge {
    display: inline;
    background-color: #f0f2f5;
    padding: 4px 8px;
    align-items: center;
    border-radius: 5px;
}
.bedgeWapper {
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.edit {
    display: flex;
    gap: 16px;
}
.editWrapper {
    display: inline-block;
}
