.container {
    display: flex;
    gap: 56px;
    background-color: white;
    margin: auto;
    width: 1200px;
    height: 708px;
    padding: 36px;
    border-radius: 8px;
    color: #4b5563;
    position: relative;
}

.spanWrapper {
    display: flex;
    flex-direction: column;
}
.userTitle {
}
.userDataHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}
.nickname {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #023e99;
}
.purpose {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #023e99;
}
